---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---

<Layout>
   <main class="w-full max-w-[1040px] p-[20px] my-0 mx-auto">
      <h2>Olympus OM2n</h2>
      <p>
         Hier werde ich Fotos von meiner Kamera reinstellen. Einfach weil diese
         selbst sehr sehr schön ist.<a
            class="link-red"
            href="/hobby/analoge-kamera">[Analoge Foto Kamera]</a
         >
      </p>
      <div class="cardContainer">
         <Card
            url1="/images/timan-1.webp"
            url2="/gallery/gallery-werkstattbilder"
            title1="Werkstattbilder"
            title2="Frank Timmann"
            title3="mehr"
            external={false}
            title4="Mo 02.Januar 2024"
         />
      </div>
   </main>
</Layout>
