---
import Layout from "../../layouts/Layout.astro";
import SiteImage from "../../components/SiteImage.astro";
---

<main class="w-full max-w-[1040px] p-[20px] my-0 mx-auto">
   <Layout>
      <SiteImage url="/images/moench.webp" />
      <h2>You are here before</h2>
      <p>
         Stell dir vor du kommst in einen Raum <span class="text-marker"
            >und</span
         > weißt das du schon drin bist. Stell dir vor egal wohin du auch gehst,
         bist du bereits. Aus dieser Sicht macht es also keinen Sinn nach dir zu
         suchen. Mach dir bewußt, 'You are here before'. Du bist hier, genau jetzt.
         Finde dich neben all deinen Projektionen, Geschichten, Dramen. Für gewöhnlich
         denken wir nicht darüber nach und identifizieren uns mit all den Dingen
         Sensationen und Geräuschen im Außen. Dieses Lied von Elisabeth berührt mich.
         Für mich weist sie hin auf die Stille, auf den Frieden, Gott, das Leben,
         was schon hier ist. Und es gibt eine Verbindung zu dem was ist, welche als
         Liebe empfunden werden kann.
         <a
            href="https://www.youtube.com/watch?v=2qc99uG1BVg&list=PLWE9cu0OMaNly1A_QAcYyhOom7FW7FKi8"
            target="_blank"
            class="link-red">[Film]</a
         >
      </p>
   </Layout>
</main>
