---
import LayoutBack from "../../layouts/LayoutBack.astro";
import Card from "../../components/Card.astro";
---

<LayoutBack url="sadsang/natur" title="zurück">
   <main class="w-full max-w-[1040px] p-[20px] my-0 mx-auto">
      <h2>Dr. Klaus Bielau</h2>
      <h3>Ganzheitliche Medizin</h3>
      <div class="cardContainer">
         <Card
            url1="/images/brett_2.webp"
            url2="https://www.youtube.com/watch?v=FPQtVrQlPEU"
            title1="Teil 3"
            title2="Impf-Arzt"
            title3="Film"
            external={true}
            title4="Sa 17.Februar 2024"
         />
         <Card
            url1="/images/brett_2.webp"
            url2="https://www.youtube.com/watch?v=fKmMQMbDt2o"
            title1="Teil 2"
            title2="Stoffwechsel-Prozess"
            title3="Film"
            external={true}
            title4="Sa 17.Februar 2024"
         />
         <Card
            url1="/images/brett_2.webp"
            url2="https://www.youtube.com/watch?v=2RWZ6njJ1u8"
            title1="Teil 1"
            title2="Paracelsus"
            title3="Film"
            external={true}
            title4="Sa 17.Februar 2024"
         />
      </div>
   </main>
</LayoutBack>
