---
import CardOhne from "../../components/CardOhne.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
   <main class="w-full max-w-[1040px] p-[20px] my-0 mx-auto">
      <h2>Krishnamurti</h2>
      <h3>Beenden des Leids</h3>
      <div class="cardContainer">
         <CardOhne
            url="/sadsang/der-geist"
            title1="Gespr채chs Auszug"
            title2="Der Geist ist irritiert"
            title3="mehr"
            external={false}
            title4="Fr 8.M채rz 2024"
         />
         <CardOhne
            url="/audio/kr_aendern.mp3"
            title1="Weisheit"
            title2="Was wird uns 채ndern?"
            title3="Audio"
            external={true}
            title4="Fr 8.M채rz 2024"
         />
      </div>
   </main>
</Layout>
