---
import SiteImage from "../../components/SiteImage.astro";
import Layout from "../../layouts/Layout.astro";
---

<main class="w-full max-w-[1040px] p-[20px] my-0 mx-auto">
   <Layout>
      <SiteImage url="/images/exotische-blumen-klein.webp" />
      <h2>Zeige mir Gott</h2>
      <p>
         In diesem Video fragt ein Mann <span class="text-marker">seinen</span> spirituellen
         Lehrer: "Zeige mir Gott". Du kannst sehen was geschieht und warum alle zusammen
         herzlich lachen. "Du kannst Gott nicht sehen weil du zweifelst. Laß deine
         Zweifel los und du wirst Gott sehen."
         <a
            href="https://www.youtube.com/watch?v=iqOwPteS_Xg"
            target="_blank"
            class="link-red">[Film]</a
         >
      </p>
   </Layout>
</main>
