---
import Layout from "../layouts/Layout.astro";
import SiteImage from "../components/SiteImage.astro";
import Card from "../components/Card.astro";
---

<Layout>
   <div class="wrapper">
      <aside class="links"></aside>
      <section class="mitte">
         <SiteImage url="/images/children-2.webp" />
         <div class="cardContainer">
            <Card
               url1="/images/brett_2.webp"
               url2="../gallery/gallery-fotos"
               title1="Fotos"
               title2="Mit der Olympus OM2n"
               title3="mehr"
               external={false}
               title4="Mo 08.Januar 2024"
            />
            <Card
               url1="/images/3_Porsche-2.jpg"
               url2="../gallery/gallery-kartonmodelle"
               title1="Kartonmodelle"
               title2="Forum im Internet"
               title3="mehr"
               external={false}
               title4="Mo 01.Januar 2024"
            />
            <Card
               url1="/images/brett_2.webp"
               url2="../gallery/gallery-olympus"
               title1="Olympus OM2n"
               title2="Meine Kamera"
               title3="mehr"
               external={false}
               title4="Mo 01.Januar 2024"
            />
         </div>
      </section>
      <aside class="rechts"></aside>
   </div>
</Layout>
