---
import Layout from "../layouts/Layout.astro";
import SiteImage from "../components/SiteImage.astro";
import Card from "../components/Card.astro";
---

<Layout>
   <SiteImage url="/images/burdi-1.webp" />
   <div class="cardContainer">
      <Card
         url1="/images/brett_2.webp"
         url2="https://www.youtube.com/watch?v=AMshi2aS3-o"
         title1="Alanis Morissette"
         title2="Incomplete"
         title3="Film"
         external={true}
         title4="Fr 26.Januar 2024"
      />
      <Card
         url1="/images/brett_2.webp"
         url2="https://www.youtube.com/watch?v=aZwSAXh074s&list=PLVHc-ip5c9Xli1l940SPQZlE5V-enh1XJ"
         title1="Martina Schwarzmann"
         title2="Haushaltsopfer"
         title3="Film"
         external={true}
         title4="Mo 01.Januar 2024"
      />
      <Card
         url1="/images/brett_2.webp"
         url2="https://www.youtube.com/watch?v=2CETGjsvWu4"
         title1="Peter Fox"
         title2="Weiße Fahnen"
         title3="Film"
         external={true}
         title4="Mo 01.Januar 2024"
      />
   </div>
</Layout>
