---
import Layout from "../layouts/Layout.astro";
import SiteImage from "../components/SiteImage.astro";
import CardOhne from "../components/CardOhne.astro";
---

<Layout>
   <div class="wrapper">
      <aside class="links"></aside>
      <section class="mitte">
         <SiteImage url="/images/burdi-1.webp" />
         <div class="cardContainer">
            <CardOhne
               url="https://www.youtube.com/watch?v=lJB_gSF0vsU"
               title1="Sinead O'Connor"
               title2="Thank You"
               title3="Film"
               external={true}
               title4="Mi 13.März 2024"
            />

            <CardOhne
               url="https://www.youtube.com/watch?v=AMshi2aS3-o"
               title1="Alanis Morissette"
               title2="Incomplete"
               title3="Film"
               external={true}
               title4="Fr 26.Januar 2024"
            />
            <CardOhne
               url="https://www.youtube.com/watch?v=aZwSAXh074s&list=PLVHc-ip5c9Xli1l940SPQZlE5V-enh1XJ"
               title1="Martina Schwarzmann"
               title2="Haushaltsopfer"
               title3="Film"
               external={true}
               title4="Mo 01.Januar 2024"
            />
            <CardOhne
               url="https://www.youtube.com/watch?v=2CETGjsvWu4"
               title1="Peter Fox"
               title2="Weiße Fahnen"
               title3="Film"
               external={true}
               title4="Mo 01.Januar 2024"
            />
         </div>
      </section>
      <aside class="rechts">
         <img src="/images/flower-3-c.png" alt="" class="top-[180px]" />
      </aside>
   </div>
</Layout>
