---
import SiteImage from "../../components/SiteImage.astro";
import LayoutBack from "../../layouts/LayoutBack.astro";
---

<LayoutBack url="hobby/mitfilm" title="zurück">
   <main class="w-full max-w-[1040px] p-[20px] my-0 mx-auto">
      <SiteImage url="/images/timan-1.webp" style="margin-bottom:12px" />
      <h2>Analoge Foto Kamera</h2>
      <h3>Die Olympus OM2n</h3>
      <p></p>
      <p>
         Hier kommt noch was.
         <p>
            Vorab ein
            <a
               target="_blank"
               class="link-red"
               href="https://www.digicammuseum.de/gechichten/erfahrungsberichte/2022-50-jahre-olympus-om-analogsystem-c-zahn/">
               [Bericht]</a
            >.
         </p>
         <p>
            Gallery-Bilder meiner
            <a class="link-red" href="/gallery/gallery-olympus">
               [Olympus OM2n]</a
            >
         </p>
      </p>
   </main>
</LayoutBack>
