---
import SiteImage from "../../components/SiteImage.astro";
import Layout from "../../layouts/Layout.astro";
import FotoCard from "../../components/FotoCard.astro";
---

<main class="w-full max-w-[1040px] p-[20px] my-0 mx-auto">
   <Layout>
      <SiteImage url="/images/OM-1_Grainlab_5.webp" />
      <h2>Analoge Foto Kamera</h2>
      <p>
         Heute bin ich in der Stadt an einem Fotofachgeschäft vorbeigekommen.
         Und wie durch ein Wunder <span class="text-marker">lag</span>
         da eine Olympus OM1, für nur 99€. Ich bin gleich rein und hab mal gefragt
         ob ich die Kamera mal begutachten darf. Zur Erläuterung, die Kamera ist
         eine rein mechanische Kamera. Die Verschlußzeiten, d.h. die Geschwindigkeit
         mit der der Verschlußvorhang Licht auf den Film einfallen läßt, wird durch
         ein mechanisches "Uhrwerk" realisiert. Diese Kamera benötigt quasi keine
         Batterie. Sie ist fast 50 Jahre alt. Das Sucherbild zeigt nur sehr wenig
         Störung am Prisma. Die Lichteinfall-Dichtungen müssen ersetzt werden, was
         kein großes Problem ist. Ich finde die Kamera ist in einem guten äußern
         Zustand. Eine technische Prüfung der z.B. Verschlußzeiten und des Belichtungsmessers
         sind heute immernoch von Fachleuten möglich.<br />
         Lange schon bin ich auf der Suche nach einer OM2n, dem Nachfolgemodell.
         Diese funktioniert "halbautomatisch" und wird elektronisch gesteuert. Die
         moderneren Funktionen sieht man Ihr aber nicht an. Der Eindruck eines Mechanischen
         "Wunderwerks" der Technik ist geblieben.
         <a
            target="_blank"
            class="link-red"
            href="https://olypedia.de/index.php?title=OM-1_(analog)"
            >[WIKI-OM1]</a
         >
      </p>
      <div class="cardContainer">
         <FotoCard url="/images/Olympus_Wallpaper_OM-1.webp" external={false} />
      </div>
   </Layout>
</main>
