---
import SiteImage from "../../components/SiteImage.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
   <SiteImage url="/images/lara-1-b-klein.webp" />
   <h2>Meine erste Webseite</h2>
   <p>
      Es ist nicht so das ich mir vornahm jetzt mal eine Webseite zu bauen.<br
      /> Nein, so ist es nicht. Es gibt da diesen
      <a target="_blank" class="link-red" href="https://www.kameradoktor.de/">
         [Kameradoktor]</a
      >
      der eine ganz einfache Webseite hat, die mir auch gefällt. Ich dachte, vielleicht
      ist es ja doch möglich etwas einfaches hinzubekommen. Es waren doch nur farbige
      Texte mit ein paar Bildern. Ich hatte also dieses Bild einer einfachen Webseite
      im Kopf. Fand dann einen Webseiten Entwickler der genau so eine minimalistische
      Seite vorbaute. Hier ist sie
      <a target="_blank" class="link-red" href="https://mitmario.dev/"
         >[Mario]</a
      >.<br />
      Ich hab sie nachgebaut und etwas verändert. Ich lernte das dies eine einfache,
      statische Seite ist. Mit der Herausforderung, das Änderungen nur sehr mühsam
      einzupflegen sind. Ein nächster logische Schritt ist, ein Entwicklungs Tool
      zu benutzen das viel mehr Möglichkeiten bietet und trotzdem leicht, schnell
      und bedienfreundlich ist. Framework ist das Zauberwort. Hier das Framework
      <a target="_blank" class="link-red" href="https://astro.build">[Astro]</a
      >.<br />
      Es ist ein Abenteuer, es ist wie in einer Werkstatt mit vielen Werkzeugen und
      Materialien. Es braucht dazu einen Editor wie
      <a target="_blank" class="link-red" href="https://code.visualstudio.com/"
         >[VSCode]</a
      >
      um die Code Schnipsel zu schreiben. Das Framework läuft im Hintergrund auf
      meinem PC. Dann gibt es da noch
      <a
         target="_blank"
         class="link-red"
         href="https://github.com/sandsam23/baum-blatt">[Github]</a
      >, eine Versionsverwaltung die Programmier Fortschritte sichert und
      verwaltet.<br />
      Diesen Text schreibe ich an meinem Desktop PC. Es geht auch am Handy. Die Texte
      liegen also hier auf dem Rechner, gleich pushe ich diese in die Versionsverwaltung
      bei Github. Automatisch werden dann die Änderungen bei
      <a target="_blank" class="link-red" href="https://netlify.com"
         >[Netlify]</a
      >
      dem Dienstleister, aktualisiert. Dieser veröffentlicht die Texte für mich.
      <br />
   </p>
</Layout>
