---
import SiteImage from "../../components/SiteImage.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
   <main class="w-full max-w-[1040px] p-[20px] my-0 mx-auto">
      <SiteImage url="/images/brett_2.webp" style="margin-bottom:12px" />
      <h2>mitfilm</h2>
      <h3>Fotografie</h3>
      <p>
         <a
            href="https://onfilmlab.de/"
            class="link-red"
            target="_blank"
            rel="noopener noreferrer">[onfilmlab]</a
         >
      </p>
   </main>
</Layout>
