---
export interface Props {
   url1?: string;
   url2?: string;
   url3?: string;
   url4?: string;
   url5?: string;
   url6?: string;
   title1?: string;
   title2?: string;
   title3?: string;
   title4?: string;
   title5?: string;
   title6?: string;
   // ? bedeutet, dass die Prop optional ist. external=öffnen in neuem Tab.
   external?: boolean;
}

const { url1, url2, url3, url4, url5, url6, title1, title2, title3, title4, title5, title6, external } = Astro.props;
---

<ul>
   <li><a href={url1} class="link-darkgrey">{title1}</a></li>
   <li><a href={url2} target={external ? "_blank" : undefined} rel={external ? "noopener noreferrer" : undefined} class="link-darkgrey">{title2}</a></li>
</ul>
