---
export interface Props {
   url?: string;
   // ? bedeutet, dass die Prop optional ist. external=öffnen in neuem Tab.
   external?: boolean;
}

const { url, external } = Astro.props;
---

<!-- willst du mehr als eine card mußt du diese in einen cardContainer tun
die Class gibt es in css -->
<div class="card">
   <div class="nfc">
      <img src={url} />
   </div>
</div>
