---
import NavLinks from "../components/NavLinks.astro";
import Footer from "../components/Footer.astro";
import "../styles/farben.css";
import "../styles/font.css";
import "../styles/stylewrap.css";
---

<!doctype html>
<html lang="de">
   <head>
      <meta charset="UTF-8" />
      <meta
         name="viewport"
         content="width=device-width,initial-scale=1.0"
      />
      <title>wald-boden</title>
   </head>
   <body>
      <div class="wrapper">
         <header class="oben">
            <nav>
               <ul>
                  <NavLinks
                     url1=""
                     title1="Finden"
                     class1="link-blue"
                     url2="hobby"
                     title2="Tun"
                     class2="link-blue"
                     url3="sadsang"
                     title3="Sein"
                     class3="link-blue"
                     url4="gallery"
                     title4="Gallery"
                     class4="link-blue"
                  />
               </ul>
            </nav>
         </header>
         <main class="haupt">
            <slot />
         </main>
         <aside class="aside links">
            <div class="cardtext">
               <p>
                  "Gott wird helfen,<br />so der Mensch
                  daran glaubt,<br />so er den guten,<br
                  />den göttlichen Willen hat,<br />in dem
                  zu leben er ja bestimmt ist,<br />und so
                  er den Glauben an Gott nicht verliert,<br
                  />und Gott hilft ihm,<br />glaube er nur!"<br
                  /><br />
                  <i>(Bruno Gröning)</i>
               </p>
            </div>
         </aside>
         <aside class="aside rechts">
            <img src="/images/flower-3-c.png" />
         </aside>
         <footer class="unten">
            <Footer
               url1="#"
               title1="[Hoch]"
               external={false}
               url2="mailto:padra@mailbox.org"
               title2="[padra@mailbox.org]"
               external={true}
            />
         </footer>
      </div>
   </body>
</html>
