---
import NavLinks from "../components/NavLinks.astro";
import Footer from "../components/Footer.astro";
import "../styles/farben.css";
import "../styles/font.css";
import "../styles/stylewrap.css";
export interface Props {
   url?: string;
   title?: string;
   // ? bedeutet, dass die Prop optional ist. external=öffnen in neuem Tab.
   external?: boolean;
}

const { url, title, external } = Astro.props;
---

<!doctype html>
<html lang="de">
   <head>
      <meta charset="UTF-8" />
      <meta
         name="viewport"
         content="width=device-width,initial-scale=1.0"
      />
      <title>wald-boden</title>
   </head>
   <body>
      <div class="wrapper">
         <header class="oben">
            <nav>
               <ul>
                  <NavLinks
                     url1={url}
                     title1={title}
                     class1="link-blue"
                  />
               </ul>
            </nav>
         </header>
         <main class="haupt">
            <slot />
         </main>
         <aside class="aside links">
            <div class="card">
               <div class="cardtext">
                  <p>
                     "Gott wird helfen,<br />so der Mensch
                     daran glaubt,<br />so er den guten,<br
                     />den göttlichen Willen hat,<br />in
                     dem zu leben er ja bestimmt ist,<br
                     />und so er den Glauben an Gott nicht
                     verliert,<br />und Gott hilft ihm,<br
                     />glaube er nur!"<br /><br />
                     <i>(Bruno Gröning)</i>
                  </p>
               </div>
            </div>
         </aside>
         <aside class="aside rechts">
            <img src="/images/flower-3-c.png" />
         </aside>
         <footer class="unten">
            <Footer
               url1="#"
               title1="[Hoch]"
               external={false}
               url2="mailto:padra@mailbox.org"
               title2="[padra@mailbox.org]"
               external={true}
            />
         </footer>
      </div>
   </body>
</html>
